<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
  id="ch.details.laurastar"
  version="0.0.1">

    <name>Laurstar - Plugin</name>
    <description>Laurastar plugin cordova</description>
    <author>zos / details sa</author>
    <license>Apache 2.0 License</license>
    <engines>
        <engine name="cordova" version=">=3.5.0" />
    </engines>
    <js-module src="www/LaurastarPlugin.js" name="LaurastarPlugin">
        <clobbers target="LaurastarPlugin" />
    </js-module>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="LaurastarPlugin">
                <param name="ios-package" value="LaurastarPlugin"/>
            </feature>
    </config-file>
    <header-file src="src/ios/LaurastarPlugin.h" target-dir="src/ios" />
        <source-file src="src/ios/LaurastarPlugin.m" target-dir="src/ios" />
    </platform>
 

</plugin>